@import '../base';
@import './base';

@media screen and (min-width: 768px) {
    
    html {

        body {
            overflow-x: hidden;

            .lOrder-fv {
                height: 39vw;
                background-image: initial;
                display: flex;
                align-items: center;

                div:nth-of-type(1) {
                    width: 62vw;
                    height: 100%;
                }

                div:nth-of-type(2) {
                    width: 29vw;

                    h1 {
                        padding-top: 0;
    
                        span:nth-of-type(1) {
                            @include font-ll-pc;
                        }
                        
                        span:nth-of-type(2) {
                            @include font-llll-pc;
                        }
                    }
    
                    .lOrder-cta {
                        margin: 51px auto 0 auto;
                        @include cta-pc;
                        width: 91%;
                        position: initial;
                        transform: translate(0, 0);
                    }    
                }
            }

            .lOrder-line {
                width: calc(100% - 160px);
                margin: 80px auto 0 auto;

                h2 {
                    @include h2-pc;
                }

                p {
                    margin-top: 24px;
                    @include font-m-pc;

                    span {
                        @include font-m-pc;
                    }
                }

                .lOrder-con {
                    width: calc(100% - 80px);
                    margin: 24px auto 0 auto;

                    .lOrder-line_p {
                        padding: 4px 40px;
                    }

                    .lOrder-miniContainer {
                        width: calc(100% - 80px);
                        margin: 8px auto 0 auto;
                        @include center;

                        img {
                            width: 16vw;
                            height: 16vw;
                            margin: 0 0 0 0;
                        }

                        .lOrder-miniCon {
                            padding-left: 24px;

                            h3 {
                                padding-top: 0;
                                @include font-ll-pc;
                                text-align: initial;
                            }

                            p {
                                width: auto;
                                margin: 12px 0 0 0;
                                @include font-m-pc;
                                text-align: initial;
                                transform: translateX(0)
                            }
                        }
                    }
                }
            }

            .lOrder-cta {
                @include cta-pc;
                margin: 60px auto 0 auto;
            }

            .lOrder-scene {

                h2 {
                    @include h2-pc;
                }

                .lOrder-flex {
                    width: calc(100% - 160px);
                    margin: 60px auto 0 auto;
                    display: flex;
                    justify-content: space-between;

                    article {
                        width: calc((100% - 80px) / 3);
                        margin: 0 0 0 40px;

                        h3 {

                            .lOrder-num {
                                width: 50px;
                            }

                            .lOrder-copy {
                                font-size: 28px;
        
                                span {
                                    @include font-s-pc;
                                }
                            }

                            p:nth-of-type(1) {
                                @include font-ss-pc;
                            }
                        }
                    }

                    article:nth-of-type(1) {
                        margin: 0 0 0 0;
                    }
                }
            }

            .lOrder-flow {

                h2 {
                    @include h2;
                }

                .lOrder-flex {
                    width: calc(100% - 160px);
                    margin: 60px auto 0 auto;
                    display: flex;
                    justify-content: space-between;

                    article {
                        width: calc((100% - 64px) / 5);
                        margin: 0 0 0 16px;
                        flex-direction: column;
                        justify-content: initial;

                        .lOrder-con:nth-of-type(1) {
                            width: calc(100% - 20px);
                            height: 48px;
                            border-right: solid 1px transparent;
                            border-bottom: solid 1px $green;
                            justify-content: initial;
                            align-items: center;

                            &::after {
                                width: 1px;
                                height: 100%;
                                top: 0;
                                right: 0;
                                bottom: initial;
                                left: initial;
                                transform: translate(75%, 0);
                            }

                            h3 {
                                border-right: 1px solid $white;
                                border-bottom: 1px solid transparent;
                                padding-top: 0;
                                padding-left: 8px;
                                writing-mode: initial;
                                letter-spacing: .04em;
                                line-height: 1.5em;

                                span {
                                    margin-right: 1.44px;
                                    margin-bottom: 0;
                                }
                            }

                            img {
                                width: 21px;
                                height: 50px;
                                top: 50%;
                                right: 0;
                                bottom: initial;
                                left: initial;
                                transform: translate(100%,-50%) rotate(0);
                            }
                        }

                        .lOrder-con:nth-of-type(2) {
                            width: calc(100% - 10px);
                            margin: 0 auto;
        
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    article:nth-of-type(1) {
                        margin: 0 0 0 0;
                    }
                }
            }

            .lOrder-question {

                h2 {
                    @include h2-pc;
                }

                article {
                    width: calc(100% - 360px);
                    margin: 60px auto 0 auto;

                    h3 {
                        @include font-ll-pc;
                    }

                    .lOrder-acd {
                        cursor: pointer;
                        
                        &:hover {

                            h4 {
                                color: $grey;
                            }
                        }

                        h4 {
                            transition-duration: .3s;
                        }
                    }
                }
            }

            .lOrder-bottom-cta {
                height: 27vw;
                padding-top: 0;
                display: flex;
                justify-content: end;
                align-items: center;

                .lOrder-con {
                    width: 33vw;
                    border-radius: 16px;
                    padding-bottom: 40px;
                    margin: 0 12vw 0 0;

                    p {
                        padding-top: 40px;
                    }

                    a {
                        width: calc(100% - 80px);
                        height: 51px;
                        @include font-m-pc;   
                        transition-duration: .3s;  
                        
                        &:hover {
                            background-color: $white;
                            color: $brown;
                
                            div {
                
                                img:nth-of-type(1) {
                                    opacity: 0;
                                }        
                            }
                        }
                
                        div {
                
                            img {
                                transition-duration: .3s
                            }
                        }
                    }
                }
            }
        }
    }
}
